[submodule "client"]
  path = client
  url = https://github.com/Andy2020lv/Portfolio-website-Fullstack/client.git

[submodule "server"]
  path = server
  url = https://github.com/Andy2020lv/Portfolio-website-Fullstack/server.git